<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
</head>

<style>
    body{
        background-color: rgb(248, 232, 202);
    }
    .h {
        text-align: center;
        margin-top: 90px;
    }

    .h a{
        font-size: large;
    }
</style>

<body>
    <div class="h">
        <h1>Access Denied</h1>
        <h1>You might want to sign in to get access to Email System</h1> <br>
        <a href="/signin">Click here to sign in.</a> <br>
        <p></p>
        <a href="/signup">Doesn't have an account? Click here to sign up.</a>
    </div>
</body>

</html>