<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    header {
        background-color: rgb(255, 226, 172);
        color: #000000;
        padding: 0;
        margin: auto 20px 10px 20px;
        text-align: center;
        vertical-align: middle;
        border-radius: 10px;
        font-size: xx-large;
    }
</style>

<body>
    <header>
        <h1>Welcome <%= username %></h1>
    </header>
</body>

</html>